@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@using System.Net;
@using System.Text;
@using System.Web;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Mvc;
@using MV4.Models;
@using MV4.Controllers;
@using System.Net.Http.Headers;

@{
    ViewData["Title"] = "Loader";
}



<h1 style="color: white">Loader</h1>
<script>
    window.onload = function () {
        window.location.replace('@Url.Action("Index")');
    };
</script>

<div class="Loading-background">
    <h1>
    </h1>
</div>


<div class="spinner-wrapper">
    <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>